{% extends "base.html" %}

{% block content %}

<div>
    <h1>Profile page: {{user.username}}</h1>
    <p>Email: {{user.email}}</p>
    <p>Created at: {{user.created_at}}</p>
    <p>Roles: {{user.roles}}</p>
    <p>Number of photos: {{user.photo_count}}</p>
    <img src="{{ user.avatar }}" alt="avatar of user"/>
</div>
<br>
<form method="patch" id="profile-subscription" enctype="multipart/form-data" name="profile-form">
    <div class="form-row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="small mb-1">Change Avatar:</label>
                <input type="file" name="file" accept="image/*" id="id_avatar">
                <p id="err-avatar" style="color: red;" class="inp-error"> </p>
            </div>
        </div>
    </div>
    <div class="grid">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <button type="reset" class="btn btn-primary secondary">Reset</button>
    </div>

</form>

<script>
    async function handleProfileFormSubmit(event) {
        event.preventDefault();

        let inp = document.getElementsByClassName('inp-error');
        for (let i = 0; i < inp.length; i++) {
            inp[i].textContent = "";
        }

        const form = event.currentTarget;
        const url = form.action;

        let responseData = undefined;
        let isRedirect = false;
        let urlRedirect = "";
        let isReload = false;

        try {
            const formData = new FormData()
            const files = document.querySelector('[type=file]').files
            formData.append('file', files[0])

            const fetchOptions = {
                method: "PATCH",
                body: formData,
            };

            const responseData = await fetch(url, fetchOptions);

            if (!responseData.ok) {
                const errorMessage = await responseData.text();
                throw new Error(errorMessage);
            }

            if (responseData.redirected) {
                isRedirect = true;
                urlRedirect = responseData.url;
                if (urlRedirect.indexOf("?") >= 0) {
                    let urlSplit = urlRedirect.split("?");
                    urlRedirect = urlSplit[0];
                    let spr = "?";
                    let urlQ = urlSplit[1];                 // Строка параметров
                    if (urlQ.indexOf("&") >= 0) {           // Несколько параметров
                        urlQuery = urlQ.split("&");             // Массив параметров
                        for (urlQ of urlQuery) {
                            if (uQ1.indexOf("message=") == 0) {
                                alert(decodeURI(uQ1.substr(8)));               // Выводим сообщение
                            }
                            else {
                                urlRedirect = urlRedirect + spr + uQ1;  // Возвращаем параметр в URL
                                spr = "&";
                            }
                        }
                    }
                    else if (urlQ.indexOf("message=") == 0) {
                        alert(decodeURI(urlQ.substr(8)));                  // Выводим сообщение
                    }
                    else {
                        urlRedirect = urlRedirect + spr + urlQ;     // Возвращаем параметр в URL
                    }
                }
            }

            const responseJson = await responseData.json();
            const succs = responseJson.detail.success;
            const errs = responseJson.detail.errors;

            if (Boolean(errs)) {
                for (const err of errs) {
                    let element = document.getElementById(err.key);
                    element.textContent = err.value;
                }
            }
            else if (Boolean(succs)) {
                for (const suc of succs) {
                    if (suc.key == "redirect") {
                        isRedirect = true;
                        urlRedirect = suc.value;
                    } 
                    else if (suc.key == "message") {
                        alert(suc.value);
                    }
                    else if (suc.key == "reload") {
                        document.forms["profile-form"]["file"].value = "";
                        isReload = true;
                        // window.location.reload();
                    }
                }
            }

        } catch (error) {
            console.error(error);
        }

        if (isRedirect) {
            if (Boolean(urlRedirect)) {
                responseData.redirected = true;
                responseData.status = 302;
                window.location.href = `${urlRedirect}`;
            } else {
                alert("Redirect.value is not URL");
            }
        }
        else if (isReload) {
            window.location.reload();
        }
    }

    const profileForm = document.getElementById("profile-subscription");
    profileForm.addEventListener("submit", handleProfileFormSubmit);
</script>
    
{% endblock content %}

<!-- id	1
username	"admin"
email	"admin@email.com"
created_at	null
avatar	"https://res.cloudinary.com/dqglsxwms/image/upload/v1698108985/avatar/admin/x40g5pbyqd2yxttwethd.jpg"
roles	"admin"
is_authenticated	false
photo_count	4 -->
